<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

	<title>酒店列表</title>
	<link rel="stylesheet" href="/demo/test/PublicMob/css/vant_index.css?v=1">
	<link rel="stylesheet" href="/demo/test/PublicMob/css/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="/demo/test/PublicMob/js/quote/require.js"></script>
	<script src="/demo/test/PublicMob/js/require.config.js?v=1"></script>
</head>
<body>

	<div id="app">
		<template>
			<div class="content">
				<div class="z-nav flex f-jc-sb">
					<span class="van-icon van-icon-arrow van-nav-bar__arrow" onclick="window.history.go(-1)"></span>
					<div>凯里亚德酒店</div>
					<span></span>
				</div>
				<div class="sortBox">
					<div class="flex f-jc-sb sortInfo">
						<div class="flex f-all-width">
							<div class="flex sortInfo1">
								<span>深圳</span>
								<i class="fa fa-caret-down"></i>
							</div>
							<div class="flex sortInfo1 sortInfo1_2">
								<div>
									<p>住11-14</p>
									<p>离11-14</p>
								</div>
								<i class="fa fa-caret-down"></i>
							</div>
							<div class="flex sortInfo1_3 f-all-width">
								<i class="fa fa-search"></i>
								<input class="f-all-width" type="text" placeholder="地名/酒店/关键词">
							</div>
						</div>
						<div>
							<i class="van-icon van-icon-contact"></i>
							<p>我的</p>
						</div>
					</div>
					<div class="flex f-jc-sb zksort">
						<div class="flex f-width25 cur">
							<span>我附近</span>
							<i class="fa fa-caret-down"></i>
						</div>
						<div class="flex f-width25">
							<span>价格</span>
							<i class="fa fa-caret-down"></i>
						</div>
						<div class="flex f-width25">
							<span>智能排序</span>
							<i class="fa fa-caret-down"></i>
						</div>
						<div class="flex f-width25">
							<span>筛选</span>
							<i class="fa fa-caret-down"></i>
						</div>
					</div>
				</div>
				<div class="listbox">
					<van-list
						v-model="loading"
						:finished="finished"
						@load="onLoad"
					>
						<div v-for="(item, index) in list" :key="index":title="item" class="flex f-jc-sb hotel">
							<!-- v-lazy:background-image="'/demo/test/PublicMob/img/lbg2.png'" -->
							<div class="z-bgimg" ></div>
							<div class="z-info f-all-width">
								<h3 class="bigSize">凯里亚德酒店（深圳新洲店）</h3>
								<div class="flex f-jc-l">
									<span class="bigSize">4.8</span>
									<span>星</span>
									<i>8333条评论</i>
								</div>
								<div class="flex f-jc-l">
									<i class="my-icon wz1"></i>
									<i>距离你直线103m | 福田区</i>
								</div>
								<div class="flex f-jc-l f-w welfare">
									<span>新店</span>
									<span>限时活动</span>
									<span>免费停车</span>
								</div>
							</div>
							<div class="z-price flex"><sub>&yen;</sub><span>288</span><i>起</i></div>
						</div>
					</van-list>
				</div>
			</div>

			<van-popup v-model="sort1.open" position="top" class="myvanp">
				<div class="my-sort">
					<div class="z-shadow"></div>
					<div class="s-top">
						<h3>价格</h3>
						<ul class="flex f-w f-jc-l">
							<li v-for="(item, index) in sort1.list" :key="index" :class="{cur: sort1.commitData.cur === item.value}" @click="$set(sort1.commitData, 'cur', item.value)">{{item.text}}</li>
						</ul>
						<div class="sliderBox">
							<slider :value-fun="sort1.sliderVal" :min="0" :max="100" :min-text="'0'" :max-text="'1000'" ref="slBlock"></slider>
						</div>
					</div>
					<div class="s-footer s-btn flex">
						<div class="btn close" @click="sort1.resetFun">重置</div>
						<div class="btn yes f-all-width">确定</div>
					</div>
				</div>
			</van-popup>

			<van-popup v-model="sort2.open" position="top" class="myvanp">
					<div class="my-sort">
						<div class="z-shadow"></div>
						<div class="s-top">
							<dl class="zn_sorting">
								<dd class="flex f-jc-sb" v-for="(item, index) in sort2.list" :key="index"
									@click="$set(sort2, 'cur', item.value)"
									:class="{cur: sort2.cur === item.value}"
								>
									<span>{{item.text}}</span>
									<i class="van-icon van-icon-success"></i>
								</dd>
							</dl>
						</div>
					</div>
				</van-popup>
		</template>
	</div>
	
	<!-- <link rel="stylesheet" href="/demo/test/PublicMob/css/page/list.css"> -->
	<!-- <script src="/demo/test/PublicMob/js/page/list.js"></script> -->
	<script>
		require(['css!' + config.cssBaseUrl + 'list.css', config.jsBaseUrl + 'list.js']);
	</script>
</body>
</html>