<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

	<title>搜索</title>
	<link rel="stylesheet" href="/demo/test/PublicMob/css/vant_index.css?v=1">
	<link rel="stylesheet" href="/demo/test/PublicMob/css/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="/demo/test/PublicMob/js/quote/require.js"></script>
	<script src="/demo/test/PublicMob/js/require.config.js?v=1"></script>
</head>
<body>

	<div id="app">
		<template>
			<div class="content flex f-v">
				<ul class="search">
					<li class="flex f-jc-sb localtion">
						<span class="flex">
							深圳市
							<i class="fa fa-angle-right"></i>
						</span>
						<span>
							<i class="van-icon van-icon-aim"></i>
							<div>当前位置</div>
						</span>
					</li>
					<li class="flex f-jc-sb selDate">
						<div class="flex">
							<div class="flex z-date">
								<div>20</div>
								<div>
									<p>11月</p>
									<p>周四入住</p>
								</div>
							</div>
							<div></div>
							<div class="flex z-date">
								<div>20</div>
								<div>
									<p>11月</p>
									<p>周四入住</p>
								</div>
							</div>
						</div>
						<div class="flex">
							共2晚
							<i class="fa fa-angle-right"></i>
						</div>
					</li>
					<li class="flex f-jc-sb" @click="sort.open = true">
						<div class="flex sortPrice">
							筛选酒店价格
						</div>
						<div class="flex">
							<i class="fa fa-angle-right"></i>
						</div>
					</li>
					<li class="flex f-jc-l keyWord">
						<i class="van-icon van-icon-search"></i>
						<input type="text" class="f-all-width" placeholder="搜索关键字/地址/酒店名">
					</li>
				</ul>
				<button class="z-btn1">查询酒店</button>
			</div>
			
			<van-popup v-model="sort.open" position="bottom">
				<div class="my-sort">
					<div class="s-top">
						<h3>价格</h3>
						<ul class="flex f-w f-jc-l">
							<li v-for="(item, index) in sort.list" :key="index" :class="{cur: sort.commitData.cur === item.value}" @click="$set(sort.commitData, 'cur', item.value)">{{item.text}}</li>
						</ul>
						<div class="sliderBox">
							<slider :value-fun="sort.sliderVal" :min="0" :max="100" :min-text="'0'" :max-text="'1000'" ref="slBlock"></slider>
						</div>
					</div>
					<div class="s-footer s-btn flex">
						<div class="btn close" @click="sort.resetFun">重置</div>
						<div class="btn yes f-all-width">确定</div>
					</div>
				</div>
			</van-popup>
		</template>
	</div>
	
	<!-- <link rel="stylesheet" href="/demo/test/PublicMob/css/page/search_hotel.css"> -->
	<!-- <script src="/demo/test/PublicMob/js/page/search_hotel.js"></script> -->
	<script>
		require(['css!' + config.cssBaseUrl + 'search_hotel.css', config.jsBaseUrl + 'search_hotel.js']);
	</script>
</body>
</html>