
html,body{font-size:12px;font: bold 12px "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif, sans-serif;height:100%;}
body,p,ul,ol,h1,h2,h3,h4,h5,h6,dt,dd,dl{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,label,p,div{font-weight: normal;}
ul,ol{list-style:none;font-weight: normal;}
img{border:0;}
i{font-style: initial;}
a{text-decoration:none;color:#333;}
a:active,a:hover,a:focus,a{text-decoration:none;color:#333;background:transparent;}
body{max-width:600px;margin:0 auto;position: relative;}
input[type="text"],input[type="number"],textarea,input[type="password"]{height:2.5em;border:1px solid #ccc;border-radius:.3em;width: 100%;box-sizing: border-box;display: block;padding:0 .8em;}
textarea{resize: none;}
button{display: block;height:2.5em;border:1px solid #ccc;border-radius:.3em;box-sizing: border-box;white-space: nowrap;overflow:hidden;text-overflow: ellipsis; }
button:disabled{background-color: #ff8c8c !important;}
button:focus{outline:none;}
select{display: block;height:2.5em;border:1px solid #ccc;border-radius:.3em;box-sizing: border-box;padding:0 .5em;}
input[type="checkbox"]{display: inline-block;width:1em;height: 1em;
	appearance:none;-webkit-appearance:none;-moz-appearance:none;border-radius:.2em;position:relative;outline: none;vertical-align: sub;}
input[type="checkbox"]::before{content:'';display: inline-block;width:100%;height: 100%;background-color: white;border-radius:.2em;border:1px solid #000;}
input[type="checkbox"]:checked::before{background-color: #FDE33E;}
h1{color: #333;font-size:1.4em;}
h2{color: #333;font-size:1.3em;}
h3{color: #333;font-size:1.2em;}
h4{color: #333;font-size:1.1em;}
h5{color: #333;font-size:1em;}
h6{color: #333;font-size:.9em;}
p{color: #888;font-size:.8em;}

@media only screen and (min-width: 320px)  {
	body{font-size: 12px;}
}
@media only screen and (min-width: 375px)  {
	body{font-size: 14px;}
}
@media only screen and (min-width: 414px)  {
	body{font-size: 15px;}
}
@media only screen and (min-width: 1200px)  {
	body{font-size: 12px;}
}

.hide{display: none !important;}
.show{display: block !important;}
.clear::before,.clear::after{content:'';display: block;clear:both;}

.f-show{display: flex;display: -webkit-flex;}

.flex{display: flex;display: -webkit-flex;justify-content:center;-webkit-justify-content:center;align-items:center;-webkit-align-items:center;}
.f-v{flex-direction:column;-webkit-flex-direction:column;}/*垂直排列*/
.f-w{flex-wrap:wrap;-webkit-flex-wrap:wrap;}/*溢出换行*/
.f-jc-sb{justify-content:space-between !important;-webkit-justify-content:space-between !important;}/*flex两端对齐*/
.f-jc-l{justify-content:flex-start;-webkit-justify-content:flex-start;}/*左对齐*/
.f-all-width{flex-grow:1;-webkit-flex-grow:1;}
.f-width10{flex-basis:10%;-webkit-flex-basis:10%;min-width: 10%;}
.f-width20{flex-basis:20%;-webkit-flex-basis:20%;min-width: 20%;}
.f-width30{flex-basis:30%;-webkit-flex-basis:30%;min-width: 30%;}
.f-width40{flex-basis:40%;-webkit-flex-basis:40%;min-width: 40%;}
.f-width50{flex-basis:50%;-webkit-flex-basis:50%;min-width: 50%;}
.f-width60{flex-basis:60%;-webkit-flex-basis:60%;min-width: 60%;}
.f-width70{flex-basis:70%;-webkit-flex-basis:70%;min-width: 70%;}
.f-width80{flex-basis:80%;-webkit-flex-basis:80%;min-width: 80%;}

.dbox{display: -webkit-box;}/*强制一行显示*/
.box_row_slid {display: -webkit-box;white-space: nowrap; overflow-x: auto;padding:.5em;font-size:.9em;}/*行滑动*/


/* 把ul-li做成表格 */
.litabel {overflow: auto;border-top:1em solid #eee;}
.litabel li{display: table-row;vertical-align: inherit;border-color: inherit;}
.litabel span{min-width:5em;text-align:center;border-top:1px solid #eee;padding:.5em;
				display: table-cell;vertical-align: inherit;white-space: nowrap;}
.litabel span:not(:last-child){border-right:1px solid #eee;}


/* 开关按钮 */
.z_switch_box .z_switch_input{display: none;}
.z_switch{overflow:hidden;height: 2em;width: 4em;border-radius:2em;background-color: #fff;box-shadow:inset 0px 0px 1px rgba(0,0,0,.3);position: relative;transition:.5s;}
/* .z_switch .z_switch_btn{height: 2em;width: 2em;border: 1px solid #ddd;border-radius:50%;display: block;transition:.5s;
		box-shadow:inset 0px 0px 1px rgba(0,0,0,.8);position: absolute;left:-.03em;top:-.08em;
		z-index: 2;background-color: #fff;} */
.z_switch .z_switch_btn {height: 1.7em; width: 1.7em;background-color: #fff;border: 1px solid #ddd;border-radius: 50%; display: block;
    transition: .5s;box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
    position: absolute;left: .1em;top: .085em;z-index: 2;}
.z_switch .z_switch_bg{position: absolute;display: block;background-color:#ddd;transition:.5s;font-size: 1em !important;
		transform-origin: 3em center;border-radius: 1em;
		left:0em;top:0em;transform: scale(1);
		width: 4em;height: 2em;}

.z_switch_box .z_switch_input:checked + .z_switch{ background-color: #651c4d; }
/* .z_switch_box .z_switch_input:checked + .z_switch .z_switch_btn{transform: translate(2em,0);} */
.z_switch_box .z_switch_input:checked + .z_switch .z_switch_btn{transform: translate(1.98em,0);}
.z_switch_box .z_switch_input:checked + .z_switch .z_switch_bg{transform: scale(0);} 

/* .z_switch.open span{transform: translate(2em,0);} */
/* .z_switch.open i{transform: scale(0);} */

/* 
	<label class="z_switch_box">
		<input type="checkbox" class="z_switch_input">
		<div class="z_switch"><span class="z_switch_btn"></span><i class="z_switch_bg"></i></div>
	</label> 
*/
/* 开关按钮 */