.sortInfo{text-align: center;color:#999;padding:.5em 0 .5em 1em;}
.sortInfo>div:first-child{border:1px solid #C6C6C7;border-radius:.3em;}
.sortInfo>div:last-child{min-width:5em;color:#999;}
.sortInfo>div:last-child i{font-size:1.3em;}
.sortInfo1{width:6em;position: relative;}
.sortInfo1 span{font-size:1.1em;margin-right:.3em;}
.sortInfo1::after{position:absolute;right:0;height:1.5em;width:1px;background:#DBD8DF;content:'';display:block;}
.sortInfo1_2{width: 7em}
.sortInfo1_2 p{font-size:.8em;margin-right:.3em;}
.sortInfo1_3{margin-left: .5em;}
.sortInfo1_3 input{width: 100%;border:none;outline: none;background:transparent;padding-left:.5em;}
.zksort{border-top:1px solid #E8E8E8;margin-top:.5em;}
.zksort>div{padding:.8em 0;}
.zksort>div.cur{color:#0080FF;}
.zksort>div.cur i{color:#0080FF;}
.zksort i{color:#999999;margin-left:.5em;}
.z-nav{position: relative;z-index: 9999}
.sortBox{background:#fff;height:7.4em;position: relative;z-index: 9999}
.listbox{position: absolute;overflow: auto;top:11.2em;left:0;right:0;bottom:0;}

.hotel{padding:1em;background:#fff;border-bottom:1px solid #E8E8E8;position: relative;font-size: .9em;}
.z-bgimg{width:8em;height:8em;background:url('/demo/test/PublicMob/img/lbg1.png') no-repeat center;background-size:cover;border-radius:.3em;margin-right:1em;}
.z-info .bigSize{font-size:1.2em;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.z-info i{color:#999999;margin-right:.5em;}
.z-info .my-icon{transform: scale(.7);margin-left:-.1em;}
.z-info>div{margin-top:.5em;}
.welfare span{padding:.1em .5em;border:1px solid #0080FF;border-radius:.3em;color:#0080FF;margin-right:1em;margin-bottom:.5em;font-size: .8em;}
/* .z-info>div */
/* .s-top{background:#fff;} */
.myvanp,.van-modal{top:11.2em;}
.z-shadow{
  height: 1px;
  box-shadow: 1px 1px 11px rgba(0,0,0,.5);
}
.z-price{color:#FF6633;position: absolute;right: 1em;bottom:1em;}
.z-price sub{margin-top:auto;margin-bottom:.2em;margin-right:.2em;}
.z-price span{font-size:1.8em;}
.z-price i{color:#999;margin-left:.1em;}
.zn_sorting{padding:0 1em;}
/* .zn_sorting dt{padding:1em 0;} */
.zn_sorting dd{padding:1em 0;color:#666;}
.zn_sorting dd i{color:#fff;}
.zn_sorting dd:not(:last-child){border-bottom:1px solid #E8E8E8;}
.zn_sorting dd.cur{color:#0080FF;}
.zn_sorting dd.cur i{color:#0080FF;}